.category-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px; /* Adjust the width as needed */
}

/* Style for the category label */
.category-label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

/* Style for the category count */
.category-count {
    font-size: 16px;
    color: #666;
}
section
{
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}




/* ///////// pagination */
/* Add this style block in the head section of your layout or in a separate CSS file */
.pagination .page-item:not(.disabled) .page-link {
    color: #212529;
    /* Black color */
    background-color: #ffffff;
    /* Background color, if needed */
    border-color: #212529;
    /* Border color */
}

.pagination .page-item:not(.disabled) .page-link:hover {
    color: #ffffff;
    /* White color on hover */
    background-color: #212529;
    /* Background color on hover */
    border-color: #212529;
    /* Border color on hover */
}

.pagination .page-item.active .page-link {
    color: #ffffff;
    /* White color for active state */
    background-color: #212529;
    /* Background color for active state */
    border-color: #212529;
    /* Border color for active state */
}
